#box{
    background-color: blue;
    color: white;
}
#Heading1{
    color: red;
    text-align: center;
    text-decoration:line-through;
    /* font-weight:normal; */
}
#Heading2{
    color: green;
    text-align: center;
    text-decoration:underline;
    font-weight:bold;
}
#Heading3{
    color: blue;
    text-align: center;
    text-decoration:overline;
    font-weight:bolder;
}
.btn{
    background-color: green;
    color: white;
}